html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: Arial;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*============================*/
/*fallback*/
h1, h2, h3, h4, h5, h6 {
    color: black;
}
.main-div {
    width: 1000px;
}
.header {
    width: 1000px;
    background-color: white;
    border-bottom: 1px solid #bababa;
}
#search-box {
    background-color: #ffffff;
    border: 1px solid #ffffff;

    -transition: all 0.07s ease-out;
    -webkit-transition: all 0.07s ease-out;
    -moz-transition: all 0.07s ease-out;
    -o-transition: all 0.07s ease-out;
    transition: all 0.07s ease-out;
}
#search-button {
    background-color: #ffffff;
}
.main-menu > li > a {
    color: black;
    -webkit-transition: background-color 0.23s ease-out;
    -moz-transition: background-color 0.23s ease-out;
    -o-transition: background-color 0.23s ease-out;
    transition: background-color 0.23s ease-out;
}
.main-menu > li > a:hover {
    background-color: rgba(132, 188, 255, 0.4);
}
.main-menu > li > a:visited {
    color: black;
}
.main-menu > li.active > a {
    color: #FF0066;
}
.fb-logo-link {
    -webkit-transition: transform 0.05s ease-in;
    -moz-transition: transform 0.05s ease-in;
    -o-transition: transform 0.05s ease-in;
    transition: transform 0.05s ease-in;
}
.fb-logo-link > svg {
    fill: black;
}
.service{
    background-color: #f5f5f5;
    -webkit-transition: transform 0.05s ease-in;
    -moz-transition: transform 0.05s ease-in;
    -o-transition: transform 0.05s ease-in;
    transition: transform 0.05s ease-in;
}
.service hr {
    background-color: #bababa;
}
.service h1 {
    color: #000000;
}
.service p {
    color: #000000;
}
.news-hr {
    background-color: #bababa;
}
.footer {
    background-color: #f5f5f5;
}
.footer h1 {
    color: #000000;
}
.footer-link a {
    color: #000000;
}
.footer-link-wrap {
    background-color: #f5f5f5;
    -webkit-transition: transform 0.05s ease-in;
    -moz-transition: transform 0.05s ease-in;
    -o-transition: transform 0.05s ease-in;
    transition: transform 0.05s ease-in;
}
/*fallback end*/

:root{
    --main-width: 1000px;
    --main-background-color: #ffffff;
    --header-color: #ffffff;
    --theme-color: #f5f5f5;
    --line-color:#bababa;
    --font-color: black;
    --font-color-with-background: #000000;
    --accent-color: #FF0066;
    --highlight-color: rgba(132, 188, 255, 0.4);

    --transitions-transform: 0.05s ease-in;
    --transitions-highlights: 0.23s ease-out;
    --transitions-visibility: 0.07s ease-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    color: var(--font-color);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
}

body, .header, #search-box, .news-content {
    background: var(--main-background-color);
}
.main-div {
    width: var(--main-width);
    margin: 0 auto;
}
    .header {
        width: var(--main-width);
        height: 84px;
        position: fixed;
        top:0;
        background-color: var(--header-color);
        border-bottom: 1px solid var(--line-color);
        z-index: 1;
    }
        .logo-link {
            position: absolute;
            top:0;
            bottom: 4px;
        }
        .right-menu {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            vertical-align: bottom;
            width: 695px;
            height: 84px;
            text-align: right;
            padding-bottom: 0;
        }
            .search-div {
                display: block;
                text-align: right;
                margin-top: 10px;
                height: 24px;
            }
                #search-form {
                }
                #search-box {
                    width: 200px;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 16px;
                    font-family: Arial;
                    background-color: var(--header-color);
                    border: 1px solid var(--header-color);
                    height: 24px;
                    outline: none;

                    -transition: all var(--transitions-visibility);
                    -webkit-transition: all var(--transitions-visibility);
                    -moz-transition: all var(--transitions-visibility);
                    -o-transition: all var(--transitions-visibility);
                    transition: all var(--transitions-visibility);
                }
                #search-button {
                    border: 0 none;
                    background-color: var(--header-color);
                    margin-left: 3px;
                    margin-right: 3px;
                    cursor: pointer;
                    padding: 0;
                }
                #search-button:focus {
                    outline: 0;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    text-align: right;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    text-align: right;
                }
                :-ms-input-placeholder { /* Internet Explorer 10+ */
                    text-align: right;
                }
                ::-webkit-input-placeholder { /* WebKit browsers */
                    text-align: right;
                }
                #search-box:focus {
                    border: 1px solid var(--line-color);
                }
                #search-box:focus:-moz-placeholder {
                    color: transparent;
                }
                #search-box:focus::-moz-placeholder {
                    color: transparent;
                }
                #search-box:focus:-ms-input-placeholder {
                    color: transparent;
                }
                #search-box:focus::-webkit-input-placeholder {
                    color: transparent;
                }
            .menu-div {
                position: absolute;
                right: 0;
                bottom: 0;
                display: inline-block;
            }
                .main-menu {
                    display: inline-block;
                }
                .main-menu {
                    list-style-type: none;
                }
                    .main-menu > li {
                        display: inline-block;
                    }
                        .main-menu > li > a {
                            display: inline-block;
                            line-height: 25px;
                            padding: 10px 10px 10px 10px;
                            color: var(--font-color);
                            text-decoration: none;
                            -webkit-transition: background-color var(--transitions-highlights);
                            -moz-transition: background-color var(--transitions-highlights);
                            -o-transition: background-color var(--transitions-highlights);
                            transition: background-color var(--transitions-highlights);
                        }
                        .main-menu > li > a:hover {
                                            background-color: var(--highlight-color);
                                        }
                        .main-menu > li > a:visited {
                                            color: var(--font-color);
                        }
                        .main-menu > li.active > a {
                            color: var(--accent-color);
                        }
                .fb-logo-link {
                    width: 20px;
                    padding: 5px 2px;
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                }
                    .fb-logo-link > svg {
                        fill: var(--font-color);
                        -webkit-transition: transform var(--transitions-transform);
                        -moz-transition: transform var(--transitions-transform);
                        -o-transition: transform var(--transitions-transform);
                        transition: transform var(--transitions-transform);
                    }

                    .fb-logo-link:hover > svg {
                        transform: scale(1.2);
                    }

                .fb-logo-link > svg {
                    fill: var(--font-color);
                }
    .container {
        margin-top: 110px;
    }
        .promo {
            text-align: center;
            margin-bottom: 20px;
        }
        .services{
            margin-bottom: 20px;
        }
            .services > ul  {
                display: flex;
                flex-wrap: wrap;
            }
            .services > ul > li {
                display: flex;
            }
            .service{
                width: 220px;
                text-align: center;
                line-height:1.4;
                background-color: var(--theme-color);
                -webkit-transition: transform var(--transitions-transform);
                -moz-transition: transform var(--transitions-transform);
                -o-transition: transform var(--transitions-transform);
                transition: transform var(--transitions-transform);
            }

            .service:hover{
                transform: scale(1.02);
            }
                .services > ul > li:nth-child(4n+2) {
                    margin-left: 40px;
                    margin-right: 20px;
                }
                .services > ul > li:nth-child(4n+3) {
                    margin-left: 20px;
                    margin-right: 40px;
                }
                .services > ul > li:nth-child(n+5){
                    margin-top: 20px;
                }
                .services  a {
                     color: black;
                     text-decoration: none;
                }
                .service hr {
                    width: 193px;
                    margin: 0 12px 0 12px;
                    height: 2px;
                    border: 0;
                    background-color: var(--line-color);
                }
                .service h1 {
                    color: var(--font-color-with-background);
                }
                .service p {
                    padding:  0 10px 10px 10px;
                    color: var(--font-color-with-background);
                }
                .service img {
                    height: 40px;
                    margin: 5px 0 5px 0;
                }
        .news{

        }
            .news-top {
                text-align: center;
            }
                .news-hr {
                    width: 397px;
                    height: 4px;
                    border: 0;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: var(--line-color);
                }
                .news-title {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 10px ;
                    font-size: 41px;
                }
            .news-content {
                height:300px;
                overflow: hidden;
                margin-bottom: 20px;
            }
        .footer {
            overflow: hidden;
            height: 80px;
            background-color: var(--theme-color);
        }
            .footer-link {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                position: relative;
                top:10%;
                width: 19.6%;
            }
                .footer h1 {
                    color: var(--font-color-with-background);
                }
                .footer-link a {
                    text-decoration: none;
                    color: var(--font-color-with-background);
                }
                    .footer-icon {
                        height: 25px;
                        margin:10px 0;
                    }
                .footer-link-wrap {
                    display: inline-block;
                    background-color: var(--theme-color);
                    -webkit-transition: transform var(--transitions-transform);
                    -moz-transition: transform var(--transitions-transform);
                    -o-transition: transform var(--transitions-transform);
                    transition: transform var(--transitions-transform);
                }
                .footer-link-wrap:hover {
                    transform: scale(1.1);
                }